 .productCardImage {
  background-color: #E8E0D5;
}

.productBg1 {
  background-color: #E8E0D5;
}

.productBg2 {
  background-color: #D5D0C8;
}

.productBg3 {
  background-color: #C8BEB0;
}

.productBg4 {
  background-color: #EDE8E0;
}

.productBg5 {
  background-color: #D8D0C5;
}

.productBg6 {
  background-color: #C5C0B8;
}

.productBg7 {
  background-color: #D0C8BE;
}

.productBg8 {
  background-color: #C8C0B5;
}
